@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Playfair+Display:wght@500;700&display=swap");
@import "tailwindcss";

:root {
  --bg: #1b1a18;
  --paper: #f4efe3;
  --ink: #c59d5f;
}

